<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.squidwork">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ShowApplicationActivity"></activity>
        <activity android:name=".Posting_add_through_ccd" />
        <activity android:name=".ccdPage" />
        <activity android:name=".AddPostingFormPage" />
        <activity android:name=".CompanyPage" />
        <activity android:name=".NotYetDecidedPage" />
        <activity android:name=".StudentPage" />
        <activity android:name=".ShowJobActivity" />
        <activity android:name=".ApplyForm" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>